@import "tailwindcss";

@theme {
  --color-primary: #6C5CE7;
  --color-secondary: #00CEC9;
  --color-accent: #FF7675;
  --color-surface: #FFFFFF;
  --color-background: #F8F9FA;

  --font-sans: Inter, sans-serif;

  --animate-pulse-fast: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@layer base {
  body {
    @apply bg-background text-slate-900 antialiased font-sans;
  }
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}