@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-slate-900 antialiased font-sans;
  }
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}